/* Container general */
.user-register {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 25px;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  }
  
  /* Titlul */
  .user-register h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #6a11cb;
  }
  
  /* Pentru a seta lățimea completă a elementelor Angular Material */
  .full-width {
    width: 100%;
  }
  
  /* Formularul */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Stiluri responsive pentru container (opțional) */
  @media (max-width: 768px) {
    .user-register {
      padding: 20px;
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .user-register {
      padding: 15px;
      width: 95%;
    }
  }
  .login-redirect {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
  }
  
  .login-redirect a {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
  }
  
  .login-redirect a:hover {
    color: #1b63d8; /* culoare mai închisă la hover */
  }
 