<ng-container *ngIf="isVisible">
  <div class="modal-overlay">
    <div class="modal-content">
      <!-- Modal Header -->
      <mat-toolbar color="primary">
        <span>{{ title }}</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="close()" aria-label="Close Modal">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>

      <!-- Modal Body -->
      <div class="modal-body">
        <ng-content></ng-content>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <!-- Footer content can be projected if needed -->
      </div>
    </div>
  </div>
</ng-container>