<div class="container">
  <button mat-button color="primary" (click)="backToHomepage()" class="back-button">
    <mat-icon>arrow_back</mat-icon>
    Back to Homepage
  </button>

  <mat-card class="user-login">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput id="username" formControlName="username" required>
          <mat-error *ngIf="userForm.get('username')?.hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" id="password" formControlName="password" required>
          <mat-error *ngIf="userForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>

      <div class="register-link">
        Don't have an account?
        <a mat-button color="accent" href="/register">Register here</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
