<div class="services" id="services">
  <h2>Our services</h2>
</div>

<section class="left_to_right_service">
  <div class="left_service_text">
    <h2>Fast and Efficient Appointments</h2>
    <p>CareLink offers an intuitive solution for booking medical appointments. Find the right doctor, check their availability, and schedule a consultation in just a few clicks.</p>
  </div>
  <div class="right_service_image">
    <img src="appointment.svg" alt="appointments">
  </div>
</section>


<section class="right_to_left_service">
  <div class="left_service_image">
    <img src="record.svg" alt="patient records">
  </div>
  <div class="right_service_text">
    <h2>Effortless Patient Data Management</h2>
    <p>All your medical information in one place: personal details, consultation history, and doctor recommendations. Stay organized and secure with up-to-date access to your data.</p>
  </div>
</section>


<section class="left_to_right_service">
  <div class="left_service_text">
    <h2>AI-Powered Health Predictions</h2>
    <p>With cutting-edge machine learning technology, our predictive module analyzes your medical data and delivers detailed reports on potential health risks. Prevention starts with the right insights!</p>
  </div>
  <div class="right_service_image">
    <img src="predict.svg" alt="AI predictions">
  </div>
</section>

