<!-- src/app/components/dashboard/dashboard.component.html -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" opened class="sidenav">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of navItems" [routerLink]="item.route" routerLinkActive="active-link">
          <mat-icon matListIcon>{{ item.icon }}</mat-icon>
          <span matLine>{{ item.label }}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Welcome, {{ userRoleString | titlecase }}</span>
        <span class="spacer"></span>
        <button mat-button (click)="logout()">Logout</button>
      </mat-toolbar>
  
      <div class="content">
        <!-- Routed components will be displayed here -->
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  